<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового студента</title>
</head>
<body>
<img src="/marishka.gif" width="200" height="200">
<form action="/student/add" method="POST">
    <label>
        Полное имя студента:
        <input type="text" name="name" />
    </label>
    <br>
    <label>
        Номер комнаты:
        <input type="number" name="room"/>
    </label>
    <br>
    <label>
        Курс:
        <input type="number" name="course"/>
    </label>
    <br>
    <label>
        Номер студенческого билета:
        <input type="number" name="studak"/>
    </label>
    <br>
    <input type="submit" />
</form>
</body>
</html>
