<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового студента</title>
</head>
<body>

<div>
    <a href="/"><img src="/img/marishka.gif" width="200" height="200"></a>
    <br>
</div>

<div th:if="${otrabotka} != null">
    Slaves:
    <br>
    <table>
        <td>Имя</td>
        <td>Комната</td>
        <tr th:each="slave : ${otrabotka.students}">
            <td th:text="${slave.name}"/>
            <td th:text="${slave.room}"/>
        </tr>
    </table>

    <form th:action="@{'/admin/otrabotka/' + ${otrabotka.id} +  '/edit'}" method="POST">
        Описание отработки:
        <input type="text" name="text" th:value="${otrabotka.text} != null ? ${otrabotka.text} : 'Text'"/>
        <br>
        Добавить slave:
        <br>
        Полное имя slave: <input type="text" name="name"/>
        <br>
        Номер dungeon: <input type="number" name="room"/>
        <br>
        Или номер slave билета: <input type="number" name="studak"/>
        <br>
        <input type="submit" value="Отправить"/>
    </form>

    <div th:if="${otrabotka.startTime} == null and ${!otrabotka.students.isEmpty()}">
        <form th:action="@{'/admin/otrabotka/' + ${otrabotka.id} +  '/start'}" method="POST">
            <input type="submit" value="Начать отработку"/>
        </form>
    </div>
    <div th:if="${otrabotka.startTime} != null and ${otrabotka.endTime} == null">
        <form th:action="@{'/admin/otrabotka/' + ${otrabotka.id} +  '/stop'}" method="POST">
            <input type="submit" value="Закончить отработку"/>
        </form>
    </div>
</div>
<div th:if="${otrabotka} == null">
    Ошибка: отработка не найдена.
</div>

</body>
</html>
