<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового студента</title>
</head>
<body>

<div>
    <a href="/"><img src="/img/marishka.gif" width="200" height="200"></a>
    <br>
</div>

<div th:if="${otrabotka} != null">
    Slaves:
    <br>
    <table>
        <td>Имя</td>
        <td>Комната</td>
        <tr th:each="slave : ${otrabotka.getStudents()}">
            <td th:text="${slave.getName()}"/>
            <td th:text="${slave.getRoom()}"/>
        </tr>
    </table>

    <form th:action="@{'/admin/otrabotka/' + ${otrabotka.getId()} +  '/edit'}" method="POST">
        Описание отработки:
        <input type="text" name="text" th:value="${otrabotka.getText()} != null ? ${otrabotka.getText()} : 'Text'"/>
        <br>
        <div th:if="${otrabotka.getStartTime()} != null">
            Дата:
            <input type="date" name="startDate"
                    th:value="${otrabotka.getStartTime()} == null ?
                        ${#temporals.createToday()} :
                        ${#temporals.format(otrabotka.getStartTime(), 'yyyy-MM-dd')}"/>
            <br>
            Время начала:
            <input type="time" name="startTime"
                   th:value="${#temporals.format(otrabotka.getStartTime(), 'HH:mm')}"/>
            <br>
        </div>
        <div th:if="${otrabotka.getTotalHours()} != null">
            Количество часов:
            <input type="number" name="hours"
                    th:value="${otrabotka.getTotalHours()}"/>
            <br>
        </div>
        Добавить slave:
        <br>
        Полное имя slave: <input type="text" name="name"/>
        <br>
        Номер dungeon: <input type="number" name="room"/>
        <br>
        Или номер slave билета: <input type="number" name="studak"/>
        <br>
        <input type="submit" value="Отправить"/>
    </form>

    <div th:if="${otrabotka.getStartTime()} == null and ${!otrabotka.getStudents().isEmpty()}">
        <form th:action="@{'/admin/otrabotka/' + ${otrabotka.getId()} +  '/start'}" method="POST">
            <input type="submit" value="Начать отработку"/>
        </form>
    </div>
    <div th:if="${otrabotka.getStartTime()} != null and ${otrabotka.getTotalHours()} == null">
        <form th:action="@{'/admin/otrabotka/' + ${otrabotka.getId()} +  '/stop'}" method="POST">
            <input type="submit" value="Закончить отработку"/>
        </form>
    </div>
</div>
<div th:if="${otrabotka} == null">
    Ошибка: отработка не найдена.
</div>

</body>
</html>
