<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Отработки</title>
</head>
<body>

<div sec:authorize="isAnonymous()">
    <a href="/login">login</a>
    <br>
</div>

<div>
    <a href="/"><img src="/img/marishka.gif" width="200" height="200"></a>
    <br>
</div>

<div>
    <a href="/otrabotka/list">
        <img src="/img/marishka.gif" width="200" height="20">
        Список отработок
    </a>
    <br>
</div>

<div sec:authorize="hasRole('ADMIN')">
    <a href="/admin/otrabotka/new">
        <img src="/img/marishka.gif" width="200" height="20">
        Назначить отработку
    </a>
    <br>
</div>

<div sec:authorize="hasRole('ADMIN')">
    <a href="/admin/student/add">
        <img src="/img/marishka.gif" width="200" height="20">
        Добавить нового студента
    </a>
    <br>
</div>

<div>
    <a href="/student/list">
        <img src="/img/marishka.gif" width="200" , height="20">
        Список всех студентов
    </a>
    <br>
</div>

</body>
</html>
