<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отработки</title>
</head>
<body>
<img src="/marishka.gif" width="200" height="200">
<br>
Добро пожаловать в СМУАТА.
<br>
<a href="/otrabotka/list">
    <img src="/marishka.gif" width="200" height="20">
    Список отработок
</a>
<br>
<a href="/otrabotka/edit">
    <img src="/marishka.gif" width="200" height="20">
    Назначить отработку
</a>
<br>
<a href="/student/add">
    <img src="/marishka.gif" width="200" height="20">
    Добавить нового студента
</a>
<br>
<a href="/student/list">
    <img src="/marishka.gif" width="200" , height="20">
    Список всех студентов
</a>
</body>
</html>
