<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Отработки</title>
</head>
<body>
<img src="/marishka.gif" width="200" height="200">
<table>
    <tr>
        <td>Описание</td>
        <td>Начало</td>
        <td>Конец</td>
    </tr>
    <tr th:each="otrabotka : ${otrabotki}">
        <td th:text="${otrabotka.text}"/>
        <td th:text="${otrabotka.startTime}"/>
        <td th:text="${otrabotka.endTime} == null ? 'В процессе' : ${otrabotka.endTime}"/>
        <td th:if="${otrabotka.endTime} == null">
            <form action="/otrabotka/stop" method="POST">
                <input type="hidden" name="otrabotka_id" th:value="${otrabotka.id}"/>
                <input type="submit" text="Кончить отработку"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
