<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Отработки</title>
</head>
<body>

<div>
    <a href="/"><img src="/img/marishka.gif" width="200" height="200"></a>
    <br>
</div>

<table>
    <tr>
        <td>Описание</td>
        <td>Начало</td>
        <td>Часов</td>
    </tr>
    <tr th:each="otrabotka : ${otrabotki}">
        <td th:text="${otrabotka.getText()}"/>
        <td th:text="${otrabotka.getStartTime()} == null ? 'Не началась' :
                ${#temporals.format(otrabotka.getStartTime(),'dd.MM.yyyy HH:mm')}"/>
        <td th:text="${otrabotka.getTotalHours()} == null ?
                     (${otrabotka.getStartTime()} == null ? 'Не началась' : 'В процессе') :
                     ${otrabotka.getTotalHours()}"/>
        <td sec:authorize="hasRole('ADMIN')">
            <form th:action="@{'/admin/otrabotka/' + ${otrabotka.getId()} +  '/edit'}" method="GET">
                <input type="submit" value="Редактировать"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
