<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Иноформация о студенте</title>
</head>
<body>
<div>
    <a href="/"><img src="/img/obshaga.gif" width="200" height="200"></a>
    <br>
</div>

<div th:if="${student} == null">
    Студент не найден.
</div>
<div th:if="${student} != null">
    <label th:text="@{'Имя: ' + ${student.getName()}}"/>
    <br>
    <label th:text="@{'Комната: ' + ${student.getRoom()}}"/>
    <br>
    <label th:text="@{'Номер студенческого: ' + ${student.getStudak()}}"/>
    <br>
    <label th:text="@{'Количество часов: ' + ${student.getTotalHours()}}"/>
    <br>

    <table>
        <tr>
            <td>Описание</td>
            <td>Начало</td>
            <td>Часов</td>
        </tr>
        <tr th:each="otrabotka : ${student.getOtrabotki()}">
            <td th:text="${otrabotka.getText()}"/>
            <td th:text="${otrabotka.getStartTime()} == null ? 'Не началась' :
                ${#temporals.format(otrabotka.getStartTime(),'dd.MM.yyyy HH:mm')}"/>
            <td th:text="${otrabotka.getTotalHours()} == null ?
                     (${otrabotka.getStartTime()} == null ? 'Не началась' : 'В процессе') :
                     ${otrabotka.getTotalHours()}"/>
            <td sec:authorize="hasRole('ADMIN')">
                <form th:action="@{'/admin/otrabotka/' + ${otrabotka.id} +  '/edit'}" method="GET">
                    <input type="submit" value="Редактировать"/>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>