<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список всех студентов</title>
</head>
<body>

<div>
    <a href="/"><img src="/img/marishka.gif" width="200" height="200"></a>
    <br>
</div>

<table>
    <tr>
        <td>Имя</td>
        <td>Комната</td>
        <td>Часов</td>
        <td>Студенченский билет</td>
    </tr>
    <tr th:each="student : ${students}">
        <td>
            <a th:text="${student.name}" th:href="@{'/student?studak=' + ${student.studak}}"/>
        </td>
        <td th:text="${student.room}"/>
        <td th:text="${student.totalHours}"/>
        <td th:text="${student.studak}"/>
    </tr>
</table>

<div>
    Сортировка по:
    <form action="" method="get">
        <input type="radio" name="sorting" value="">
        Имени студента
        <br>
        <input type="radio" name="sorting" value="ascending">
        В порядке возрастания часов
        <br>
        <input type="radio" name="sorting" value="descending">
        В порядке убывания часов
        <br>
        <input type="submit" value="Отправить">
    </form>
</div>

</body>
</html>
